TF_VAR_secret_mount_path=./secrets
TF_VAR_app_mode=dev
TF_VAR_phx_host=localhost
TF_VAR_app_port=4000
TF_VAR_otel_endpoint=http://otel-collector:4318
TF_VAR_log_file_path=/var/log/network_defense/network_defense.jsonl
TF_VAR_log_file_level=debug
TF_VAR_postgres_user=postgres
TF_VAR_postgres_database=network_defense_dev
TF_VAR_grafana_user=admin
TF_VAR_pgadmin_email=admin@admin.com
