# LaTeX build artifacts
*.aux
*.bbl
*.bcf
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.lof
*.log
*.lol
*.lot
*.nav
*.out
*.pdf
*.ps
*.run.xml
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdv

# minted cache
_minted-*/

# OS files
.DS_Store
Thumbs.db
